<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.springboot.user.mapper.MenuMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lc.springboot.user.model.Menu">
        <result column="ID" property="id"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
        <result column="RANDOM_CODE" property="randomCode"/>
        <result column="REVISION" property="revision"/>
        <result column="DELETE_FLAG" property="deleteFlag"/>
        <result column="MENU_CODE" property="menuCode"/>
        <result column="MENU_NAME" property="menuName"/>
        <result column="MENU_TYPE" property="menuType"/>
        <result column="MENU_INDEX" property="menuIndex"/>
        <result column="MENU_PATH" property="menuPath"/>
        <result column="MENU_ICON" property="menuIcon"/>
        <result column="PARENT_ID" property="parentId"/>
    </resultMap>

    <resultMap id="MenuLoginDetailResponseMap" type="com.lc.springboot.user.dto.response.MenuLoginDetailResponse">
        <result column="MENU_ID" property="menuId"/>
        <result column="MENU_CODE" property="menuCode"/>
        <result column="MENU_NAME" property="menuName"/>
        <result column="MENU_TYPE" property="menuType"/>
        <result column="MENU_INDEX" property="menuIndex"/>
        <result column="MENU_PATH" property="menuPath"/>
        <result column="MENU_ICON" property="menuIcon"/>
        <result column="PARENT_ID" property="parentId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,
        CREATED_BY,
        CREATED_TIME,
        UPDATED_BY,
        UPDATED_TIME,
        RANDOM_CODE,
        REVISION,
        DELETE_FLAG,
        MENU_CODE,
        MENU_NAME,
        MENU_TYPE,
        MENU_INDEX,
        MENU_PATH,
        MENU_ICON,
        PARENT_ID
    </sql>

    <select id="getMenuListByPrivilegeIds" resultMap="MenuLoginDetailResponseMap">
        select distinct a.MENU_ID,
               b.MENU_CODE,
               b.MENU_NAME,
               b.MENU_TYPE,
               b.MENU_INDEX,
               b.MENU_PATH,
               b.MENU_ICON,
               b.PARENT_ID
                from SYS_PRIVILEGE_MENU a
                join SYS_MENU b on a.MENU_ID = b.ID
                and a.DELETE_FLAG = 0 and b.DELETE_FLAG = 0
                and a.PRIVILEGE_ID in
        <foreach item="item" index="index" collection="idCollection"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        order by b.MENU_INDEX
    </select>
</mapper>
