<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.springboot.user.mapper.RoleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lc.springboot.user.model.Role">
        <result column="ID" property="id"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
        <result column="RANDOM_CODE" property="randomCode"/>
        <result column="REVISION" property="revision"/>
        <result column="DELETE_FLAG" property="deleteFlag"/>
        <result column="ROLE_CODE" property="roleCode"/>
        <result column="ROLE_NAME" property="roleName"/>
        <result column="ROLE_TYPE" property="roleType"/>
        <result column="ROLE_STATUS" property="roleStatus"/>
        <result column="REMARK" property="remark"/>
    </resultMap>

    <resultMap id="RoleLoginDetailResponseMap" type="com.lc.springboot.user.dto.response.RoleLoginDetailResponse">
        <result column="ROLE_ID" property="roleId"/>
        <result column="ROLE_CODE" property="roleCode"/>
        <result column="ROLE_NAME" property="roleName"/>
        <result column="ROLE_TYPE" property="roleType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,
        CREATED_BY,
        CREATED_TIME,
        UPDATED_BY,
        UPDATED_TIME,
        RANDOM_CODE,
        REVISION,
        DELETE_FLAG,
        ROLE_CODE,
        ROLE_NAME,
        ROLE_TYPE,
        ROLE_STATUS,
        REMARK
    </sql>

    <!--auto generated by MybatisCodeHelper on 2020-08-18-->
    <select id="getRoleListByUserId" resultMap="RoleLoginDetailResponseMap">
        select distinct b.ROLE_ID,
               a.ROLE_CODE,
               a.ROLE_NAME,
               a.ROLE_TYPE
                from SYS_ROLE a
                join SYS_USER_ROLE b on a.ID = b.ROLE_ID
                and a.DELETE_FLAG = 0 and b.DELETE_FLAG = 0
        <!--角色状态正常-->
        and a.ROLE_STATUS = 1
                and b.USER_ID = #{userId}
    </select>
</mapper>
