target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Mac ###
.DS_Store

### Spring Dev Credentials ###
config/*.yml

### Docker Test Credentials ###
.env

### ignore test case
test-pm/src/test/java/com/lc/springboot/gencode
common-lib/src/test/
